<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div>
    <%= f.label :name %>
    </div>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <div>
    <%= f.label :max_occupancy %>
    </div>
    <%= f.number_field :max_occupancy %>
  </div>
  <div class="field">
    <div>
    <%= f.label :color %>
    </div>
    <%= f.select :color, ["Olive", "Green", "Yellow", "Red", "Orange", "DarkRed", "Violet", "Brown", "Maroon", "Blue", "Navy", "Gray"] %>
  </div>

  <div class="field">
    <div>
    <%= f.label :details %>
    </div>
    <%= f.text_area :details %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
