<h1>Listing classrooms</h1>

<p id="notice"><%= notice %></p>

<table id="classrooms">
  <thead>
    <tr>
      <th id="name_header"><%=link_to 'Name', classrooms_path(:sort => 'name')%></th>
      <th id="occupancy_header"><%=link_to 'Max occupancy', classrooms_path(:sort => 'occupancy')%></th>  
      <th>Details</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.name %></td>
        <td><%= classroom.max_occupancy %></td>
        <td><%= classroom.details %></td>
        <td><%= link_to 'Edit', edit_classroom_path(classroom) %></td>
        <td><%= link_to 'Delete', classroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classroom', new_classroom_path %>
