<%= form_for(@lesson) do |f| %>
  <% if @lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lesson.errors.count, "error") %> prevented this lesson from being saved:</h2>

      <ul>
      <% @lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div>
    <%= f.label :title %>
    </div>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <div>
    <%= f.label :instructor %>
    </div>
    <%= f.text_field :instructor %>
  </div>
  <div class="field">
    <div>
    <%= f.label :grade_levels %>
    </div>
    1-3
    <%= f.check_box :g1_3 %>
    3-5
    <%= f.check_box :g3_5 %>
    6-8
    <%= f.check_box :g6_8 %>
  </div>
  <div class="field">
    <div>
    <%= f.label :starts_at %>
    </div>
    &nbsp Date
    <%= f.date_select :start_date, selected: @selected_date %><br>
    &nbsp Time
    <%= f.time_select :starts_at, :ignore_date => true, prompt: true, ampm: true %>
  </div>
  <div class="field">
    <div>
    <%= f.label :ends_at %>
    </div>
    &nbsp Time
    <%= f.time_select :ends_at, :ignore_date => true, prompt: true, ampm: true %>
  </div>
  <div class="field">
    <div>
    <%= f.label 'Repeat every' %>
    </div>
    &nbsp Monday
    <%= f.check_box :mon %>|
    Tuesday
    <%= f.check_box :tue %>|
    Wednesday
    <%= f.check_box :wed %>|
    Thursday
    <%= f.check_box :thu %>|
    Friday
    <%= f.check_box :fri %>
    <br> &nbsp <%=f.label :until %>
    <%= f.date_select :end_date, selected: @selected_date %>
  </div>
  <div class="field">
    <div>
    <%= f.label :location %>
    </div>
    <%= f.select :location, @classroomSelect %> <%= link_to "See Available Classrooms", classroom_available_path %>
  </div>
  <div class="field">
    <div>
    <%= f.label :max_enrollment %>
    </div>
    <%= f.number_field :max_enrollment, min: 0 %>
  </div>
  <div class="field">
    <div>
    <%= f.label :color%>
    </div>
    <%= f.select :color, @classroomsColorSelect %>
  </div>
  <div class="field">
    <div>
    <%= f.label :description %>
    </div>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
