<%= link_to 'View Current Week', 
    	lessons_path(:start_date => Date.today) %>

<div class= "weekCalendar">
<%= week_calendar do |date| %>
  <strong><%= date.day %></strong>

  <% lessonsOn(date, @lessons13).each do |lesson| %>
    <div>
      <%= link_to lesson.title, lesson %>
      <%= link_to '(Delete)', lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>
</div>
</div>

<div class= "weekCalendar">
<%= week_calendar title: '', previous_link: '', next_link: '' do |date| %>
  <strong><%= date.day %></strong>

  <% lessonsOn(date, @lessons35).each do |lesson| %>
    <div>
      <%= link_to lesson.title, lesson %>
      <%= link_to '(Delete)', lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>
</div>
</div>

<div class= "weekCalendar">
<%= week_calendar title: '', previous_link: '', next_link: '' do |date| %>
  <strong><%= date.day %></strong>

  <% lessonsOn(date, @lessons68).each do |lesson| %>
    <div>
      <%= link_to lesson.title, lesson %>
      <%= link_to '(Delete)', lesson, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>
</div>

</div>