<%= link_to 'View Current Week', 
    	lessons_path(:start_date => Date.today) %>

<div class= "weekCalendar" id='calendar13'>
  <strong>Grades 1-3</strong>
<%= week_calendar do |date| %>
  <div id= <%=date.day %> >
    <strong><%= date.day %> </strong>
  </div>

  <% lessonsOn(date, @lessons13, "g1_3").each do |lesson| %>
    <div class= "lessonTitle">
      <strong><%= link_to lesson.title, lesson, style: "color: #{lesson.color}" %><br></strong>
      <%= lesson.starts_at.strftime("%I:%M") %>-<%= lesson.ends_at.strftime("%I:%M") %><br>
      <%= lesson.location %>
    </div>
  <% end %>
<% end %>
</div>
</div>

<div class= "weekCalendar" id='calendar35'>
  <strong>Grades 3-5</strong>
<%= week_calendar title: '', previous_link: '', next_link: '' do |date| %>
    <strong><%= date.day %></strong>
  <% lessonsOn(date, @lessons35, "g3_5").each do |lesson| %>
    <div>
      <strong><%= link_to lesson.title, lesson, style: "color: #{lesson.color}" %><br></strong>
      <%= lesson.starts_at.strftime("%I:%M") %>-<%= lesson.ends_at.strftime("%I:%M") %><br>
      <%= lesson.location %>
    </div>
  <% end %>
<% end %>
</div>
</div>

<div class= "weekCalendar" id='calendar68'>
  <strong>Grades 6-8</strong>
<%= week_calendar title: '', previous_link: '', next_link: '' do |date| %>
    <strong><%= date.day %></strong>

  <% lessonsOn(date, @lessons68, "g6_8").each do |lesson| %>
    <div>
      <strong><%= link_to lesson.title, lesson, style: "color: #{lesson.color}" %><br></strong>
      <%= lesson.starts_at.strftime("%I:%M") %>-<%= lesson.ends_at.strftime("%I:%M") %><br>
      <%= lesson.location %>
    </div>
  <% end %>
<% end %>
</div>

</div>