<%= link_to 'View Current Week', 
    	lessons_path(:start_date => Date.today) %>

<table>
  
  <tr id='1-3row'>
    <th class='grades'>
      <strong>Grades<br>1-3</strong>
    </th>
    <th>
      <div class= "weekCalendar" id='calendar13'>    
        <%= week_calendar do |date| %>
          <div class= 'calendarDate'>
            <strong><%= link_to date.day, controller: "lessons", action: "new", date: date %></strong>
          </div>
          <% lessonsOn(date, @lessons13, "g1_3").each do |lesson| %>
            <div class='lessonBlock'>
              <strong><%= link_to lesson.title, lesson, style: "color: #{getLessonColor(lesson)}" %></strong><br>
              <%= lesson.starts_at.strftime("%I:%M") %>-<%= lesson.ends_at.strftime("%I:%M") %><br>
              <%= lesson.instructor %>
            </div>
          <% end %>
        <% end %>
      </div>
    </th>
  </tr>

  <tr id='3-5row'>
    <th class='grades'>
      <strong>Grades<br>3-5</strong>
    </th>
    <th>
      <div class= "weekCalendar" id='calendar35'>
      <%= week_calendar title: '', previous_link: '', next_link: '' do |date| %>
        <div class= 'calendarDate'>
          <strong><%= link_to date.day, controller: "lessons", action: "new", date: date %></strong>
        </div>
        <% lessonsOn(date, @lessons35, "g3_5").each do |lesson| %>
          <div class='lessonBlock'>
              <strong><%= link_to lesson.title, lesson, style: "color: #{getLessonColor(lesson)}" %></strong><br>
              <%= lesson.starts_at.strftime("%I:%M") %>-<%= lesson.ends_at.strftime("%I:%M") %><br>
            <%= lesson.instructor %>
          </div>
        <% end %>
      <% end %>
      </div>
    </th>
  </tr>

  <tr id='6-8row'>
    <th class='grades'>
      <strong>Grades<br>6-8</strong>
    </th>
    <th>
      <div class= "weekCalendar" id='calendar68'>
        <%= week_calendar title: '', previous_link: '', next_link: '' do |date| %>
          <div class= 'calendarDate'>
            <strong><%= link_to date.day, controller: "lessons", action: "new", date: date %></strong>
          </div>

          <% lessonsOn(date, @lessons68, "g6_8").each do |lesson| %>
            <div class='lessonBlock'>
              <strong><%= link_to lesson.title, lesson, style: "color: #{getLessonColor(lesson)}" %></strong><br>
              <%= lesson.starts_at.strftime("%I:%M") %>-<%= lesson.ends_at.strftime("%I:%M") %><br>
              <%= lesson.instructor %>
            </div>
          <% end %>
        <% end %>
      </div>
    </th>
  </tr>

</table>

