<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @lesson.title %>
</p>

<p>
  <strong>Instructor:</strong>
  <%= @lesson.instructor %>
</p>

<p>
  <strong>Grade Levels:</strong>
  <%= "1-3" if @lesson.g1_3 == true %>
  <%= "3-5" if @lesson.g3_5 == true %>
  <%= "6-8" if @lesson.g6_8 == true %>
</p>

<p>
  <strong>Starts at:</strong>
  <%= @lesson.starts_at.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Ends at:</strong>
  <%= @lesson.ends_at.strftime("%I:%M %p") %>
</p>

<p>
  <strong>Repeats on:</strong>
  <%= "Monday" if @lesson.mon == true %>
  <%= "Tuesday" if @lesson.tue == true %>
  <%= "Wednesday" if @lesson.wed == true %>
  <%= "Thursday" if @lesson.thu == true %>
  <%= "Friday" if @lesson.fri == true %>
  <br> &nbsp
  <strong>from</strong> 
  <%= @lesson.starts_at.to_date.strftime("%B %d, %Y") %>

  <strong>to</strong> 
  <%= @lesson.end_date.strftime("%B %d, %Y") %>
</p>

<p>
  <strong>Location:</strong>
  <%= @lesson.location %>
</p>

<p>
  <strong>Max enrollment:</strong>
  <%= @lesson.max_enrollment %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lesson.description %>
</p>

<%= link_to 'Edit', edit_lesson_path(@lesson) %> |
<%= link_to 'Back', lessons_path %>
