<!DOCTYPE html>
<html>
<head>
  <title>GSAC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--<h1 id='main_header'> GREEN STREET ARTS CENTER </h1>-->
  <div id='nav_bar'>
  	<ul>
  		<li>
  			<%= link_to "Calendar", lessons_path %>
  		</li>
  		<li>
  			<%= link_to "Classrooms", classrooms_path %>
  		</li>  		
  	</ul>
  </div>
  <br>

<%= yield %>

</body>
</html>
